.app-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    min-width: 100vw;
    background-color: hsl(var(--background));
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
}
