/* CSS */
.button-base {
  /* Base button properties */
  --button-height: 48px;
  --button-padding: 25px;
  
  height: var(--button-height);
  padding-inline: var(--button-padding);
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* Add transitions for all interactive states */
  transition: all 0.2s ease-out;

  background-color: var(--color-primary);
  border: 2px solid var(--foreground);
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--background);
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 24px;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-base:after {
  background-color: var(--color-secondary);
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  z-index: -1;
  transition: all 0.2s ease-out;
}

.button-base.right:after {
    transform: translate(-8px, 8px);
}

.button-base:hover:after {
  transform: translate(5px, 5px);
  background-color: var(--color-info);
}

.button-base:hover {
  outline: 0;
  background-color: var(--color-info);
}

.button-base:active {
  background-color: var(--color-secondary);
  outline: 0;
  transform: translateY(2px);
}

.button-base:active::after {
  transform: translate(4px, 4px);
}

@media (min-width: 768px) {
  .button-base {
    padding: 0 40px;
  }
}

/* Button variants */
.button-cancel {
  @apply button-base;
  background-color: var(--color-danger);
}

.button-cancel:after {
  background-color: var(--color-secondary);
}

.button-cancel:hover {
  background-color: var(--color-danger);
  filter: brightness(110%);
}

.button-cancel:hover:after {
  background-color: var(--color-secondary);
  filter: brightness(110%);
}

.button-secondary {
  @apply button-base;
  background-color: var(--color-secondary);
}

.button-secondary:after {
  background-color: var(--color-info);
}

.button-secondary:hover {
  background-color: var(--color-info);
}

.button-secondary:hover:after {
  background-color: var(--color-secondary);
}

/* Dark mode specific adjustments */
@media (prefers-color-scheme: dark) {
  .button-base {
    border-color: var(--color-light);
  }
  
  .button-base:after {
    opacity: 0.8;
  }
}
