.text-input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }
  
  .text-input-label {
    font-size: 14px;
    font-weight: 500;
    color: var(--main-comp-color);
  }
  
  .text-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--shadow-color-inactive);
    border-radius: 5px;
    outline: none;
    transition: border 0.2s ease-in-out;
    color: var(--shadow-color-inactive);
    background-color: var(--main-comp-color);
  }
  
  .text-input:focus {
    border-color: var(--main-comp-color-active);
  }