.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

main {
  display: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

aside {
  display: flex-end;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}