/* CSS */
.button-base {
  align-items: center;
  background-color: #e3fef1;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-base:after {
  background-color: #c11414;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  /* transition: transform 0.2s ease-out; */
  z-index: -1;
}
/* colour #efe3fe */
.button-base.right:after {
    transform: translate(-8px, 8px);
}

.button-base:hover:after {
  transform: translate(5, 5);
  transition: transform 0.2s ease-out;
  background-color: aquamarine;
}

.button-base:hover {
  outline: 0;
}

.button-base:active {
  background-color: #e3fef1b7;
  outline: 0;
}

.button-base:active::after {
  outline: 0;
}

@media (min-width: 768px) {
  .button-base {
    padding: 0 40px;
  }
}
