.toggle-switch {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggle-switch input {
  display: none;
}

.slider {
  width: 50px;
  height: 25px;
  background-color: var(--background);
  border: 2px solid var(--color-secondary);
  border-radius: 25px;
  position: relative;
  transition: all 0.3s;
  margin-right: 10px;
}

.slider::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color-secondary);
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  transition: all 0.3s;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

input:checked + .slider {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

input:checked + .slider::before {
  left: 25px;
  background-color: var(--color-light);
}

.label {
  font-size: 1rem;
  color: var(--foreground);
}

/* Hover effects */
.toggle-switch:hover .slider {
  border-color: var(--color-primary);
}

.toggle-switch:hover input:checked + .slider {
  background-color: var(--color-info);
  border-color: var(--color-info);
}
